  <div class="container-fluid bg-lightgray bg-border-bottom margin-lg">   
  <div class="container">
<h1 class="section-title">   <img src="images/android64.png"/> AndroidTiger</h1>
    <h3>Android是我们开发的Android系统屏幕同步软件。无需任何配置及网络，通过USB接口直接投射Android手机或者平板的屏幕内容至您的PC。 
	 配合QATiger，可以支持Android系统的测试录屏</h3>
	
    <p class="text-center"> 除了屏幕同步，AndriodTiger还支持使用PC的鼠标控制Android系统。 由于Andriod系统原因，屏幕同步速度较慢。</p>
	<br>
	        <a class="btn btn-primary sharp margin-right-10">通过以下方式下载:</a>
	<br>
			
  </div>
</div>

 

 