	<div class="container-fluid bg-lightgray bg-border-bottom-dotted margin-lg">   
  <div class="container">
    <h1 class="section-title">现在购买</h1>        
    <p class="margin-left-10"><i class="fa fa-exclamation-circle margin-right-5 color-ng"></i>PicPick对每个用户许可授权。每个购买该产品的用户可以在两台机器上安装该软件。(例如个人电脑和笔记本电脑）。</p>
    <p class="margin-left-10 margin-bottom-30"><i class="fa fa-exclamation-circle margin-right-5 color-ng"></i>一个许可不得共享给其他用户使用。</p>
    <div class="row">
      <div class="col-sm-8">
        <div class="panel panel-default text-center">
          <div class="panel-heading margin-xs">
            <div class="row">
              <div class="col-xs-6">
                <strong>用户数量</strong>
              </div>
              <div class="col-xs-6">
                <strong>每位用户价格(人民币元）</strong>
              </div>                
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  <strong>1</strong>
                </div>
                <div class="col-xs-6">
                  <strong>400</strong>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  2~9
                </div>
                <div class="col-xs-6">
                  380
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  10~19
                </div>
                <div class="col-xs-6">
                  350
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  20~49
                </div>
                <div class="col-xs-6">
                300
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  50~99
                </div>
                <div class="col-xs-6">
                  250
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  100~999
                </div>
                <div class="col-xs-6">
                 200
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-xs-6">
                  1000+
                </div>
                <div class="col-xs-6">
                  <a>请联系我们获得报价!</a>
                </div>
              </div>
            </li>              
          </ul>
          <div class="panel-footer">
             请注意，以上价格不含<span class="color-ng">税</span>。          </div>
        </div>
      </div>  
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>我们建议使用我们的Avangate在线支付系统。它同时支持安全的在线支付服务，如paypal、信用卡等多种支付方式。</p>
            <p class="text-center margin-top-30"><img src="images/payment.png"></p>
          </div>
        </div>      
        <p class="text-center">
          <a class="btn btn-lg btn-block btn-warning sharp"  target="_blank"><i class="fa fa-shopping-cart"></i> 现在购买</a>
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid bg-white bg-border-bottom margin-sm">   
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-bolt"></i> 即时密钥交付</h3>
        <p>当您完成支付时，您立即可以获得您的注册密钥。</p>
      </div>
 
      <div class="col-md-4">
        <h3><i class="fa fa-question-circle"></i></i> 购买问题</h3>
        <p>如果你遇到任何购买或许可的问题,请 <a href="#/contact">  联系我们</a>。</p>
      </div>
    </div>
  </div>
</div>

