  <div class="container-fluid bg-lightgray bg-border-bottom margin-lg">   
  <div class="container">
    <h1 class="section-title">关于我们</h1>
    <h3 class="margin-bottom-20 text-center"><span class="color-ng">QATiger</span>由ScreenTiger，屏虎软件公司开发。</h3>
    <p class="text-center">QATiger致力于让测试变的更可控，更高效，更简单！</p>
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom-dotted margin-sm">   
  <div class="container">
      <div class="col-sm-4">
        <!--div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="margin-none">User Forum</h3>
          </div>        
          <div class="panel-body">
            <p class="margin-bottom-20">If you want to contact us regarding a product, a question or any other comment, please check our user forum as well.</p>
            <a class="btn btn-warning btn-block sharp" href="http://www.ngwin.com/forum" target="_blank">User Forum</a> 
          </div>
        </div-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="margin-none">E-mail</h3>
          </div>        
          <div class="panel-body">
            <p class="margin-bottom-20">You can also contact us via email at : myqatiger@gmail.com</p>
            <a class="btn btn-primary btn-block sharp" href="mailto:myqatiger@gmail.com"></i> Send us an email</a> 
          </div>
        </div>        
      </div>
	  
	        <div class="col-sm-4">
        <!--div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="margin-none">User Forum</h3>
          </div>        
          <div class="panel-body">
            <p class="margin-bottom-20">If you want to contact us regarding a product, a question or any other comment, please check our user forum as well.</p>
            <a class="btn btn-warning btn-block sharp" href="http://www.ngwin.com/forum" target="_blank">User Forum</a> 
          </div>
        </div-->
	<!--	
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="margin-none">E-mail</h3>
          </div>        
          <div class="panel-body">
            <p class="margin-bottom-20">You can also contact us via email at : contact@ngwin.com</p>
            <a class="btn btn-primary btn-block sharp" href="mailto:contact@ngwin.com"></i> Send us an email</a> 
          </div>
        </div>   
-->		
      </div>
    </div>
  </div>
 

 