<div class="container-fluid bg-lightgray bg-border-bottom-dotted margin-lg">   
  <div class="container">
    <h1 class="section-title">下载</h1>
    <p class="margin-bottom-30 text-center"><i class="fa fa-exclamation-circle margin-right-5 color-ng"></i>注意,试用版不得用于商业用途。</p>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading margin-sm text-center">
          <!--
		 <i class="fa fa-home fa-3x color-win"></i>
		 -->
            <h3 class="margin-none">试用版</h3>
          </div>
          <div class="panel-body text-center download-table">
            <p class="free price">任何人可以随时试用</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="margin-left-10">免费试用所有功能<span>
             </li>
            <li class="list-group-item">
                <span class="margin-left-10">但录屏有试用版水印</span>
             </li>
            <li class="list-group-item">
                <span class="margin-left-10">购买许可证后,录制水印自动消失</span>
             </li>
			 <li class="list-group-item">
                <span class="margin-left-10">试用版不得用于商业用途</span>
             </li>
            <li class="list-group-item">
                &nbsp;
            </li>                    
   
                   
          </ul>
          <a class="btn btn-lg btn-block btn-primary sharp" >下载</a>          
          <div class="panel-footer">
           </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading margin-sm text-center">
               <!--i 
			   <i class="fa fa-briefcase fa-3x color-win"></i>
			   -->
            <h3 class="margin-none">供商业应用</h3> 
          </div>
          <div class="panel-body text-center download-table">
            <!--<p class="price">$24.99</p>
            <span class="label label-success">推荐</span>-->
            <p class="price"><span class="color-ng">200元</span> <strike>400元</strike>每人每年</p>
            <span class="label label-warning">限时供应</span>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="margin-left-10">供商业和个人使用</span>
                <i class="fa fa-check-circle pull-right margin-right-10 margin-top-3 color-green"></i>
            </li>  
            <li class="list-group-item">
                <span class="margin-left-10">无任何水印</span>
                <i class="fa fa-check-circle pull-right margin-right-10 margin-top-3 color-green"></i>
            </li>
            <li class="list-group-item">
                <span class="margin-left-10">邮件技术支持</span>
                <i class="fa fa-check-circle pull-right margin-right-10 margin-top-3 color-green"></i>
            </li>
            <li class="list-group-item">
                <span class="margin-left-10">大客户(>100许可证)免费培训</span>
                <i class="fa fa-check-circle pull-right margin-right-10 margin-top-3 color-green"></i>
            </li>
    
            <li class="list-group-item">
                &nbsp;
            </li>            
          </ul>
          <a class="btn btn-lg btn-block btn-warning sharp" href="#/buy"  >现在购买</a>
          <div class="panel-footer">
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom margin-md download">   
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <h2><i class="fa fa-history color-win margin-right-5"></i> 最新版本</h2>
        <p class="margin-left-10">v1.0 (2016-08-22)</p>
<ul>
<li> 支持插入BUG</li>
<li> 支持插入测试用例描述</li>
</ul>      </div>
      <div class="col-md-5">
        <h2><i class="fa fa-windows color-win margin-right-5"></i> 适用平台</h2>
        <p class="margin-left-10 margin-bottom-20">Windows 10, 8.1, 8, 7, Vista和XP， 包括32位和64位版本。</p>
        <p><img src="images/windows.png"></p>
      </div>
    </div>
  </div>
</div>