<div class="container-fluid bg-lightgray bg-border-bottom margin-lg">   
  <div class="container">
    <h1 class="section-title">特色</h1>  
    <div class="row">
      <div class="col-sm-2">
        <a class="thumbnail" href="images/screenshot_1.png" data-lightbox="picpick-screenshots"><img src="images/screenshot_1s.png"></a>
      </div>        
      <div class="col-sm-2">
        <a class="thumbnail" href="images/screenshot_2.png" data-lightbox="picpick-screenshots"><img src="images/screenshot_2s.png"></a>
      </div>
      <div class="col-sm-2">
        <a class="thumbnail" href="images/screenshot_3.png" data-lightbox="picpick-screenshots"><img src="images/screenshot_3s.png"></a>
      </div>
      <div class="col-sm-2">
        <a class="thumbnail" href="images/screenshot_4.png" data-lightbox="picpick-screenshots"><img src="images/screenshot_4s.png"></a>
      </div>
      <div class="col-sm-2">
        <a class="thumbnail" href="images/screenshot_5.png" data-lightbox="picpick-screenshots"><img src="images/screenshot_5s.png"></a>
      </div>
      <div class="col-sm-2">
        <a class="thumbnail" href="images/screenshot_6.png" data-lightbox="picpick-screenshots"><img src="images/screenshot_6s.png"></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom-dotted margin-lg features">   
  <div class="container">
    

    <h2 class="margin-bottom-20"><img src="images/icon_camera.png"> 屏幕截图</h2>

    <p><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 截获屏幕截图、活动窗口的截图、桌面滚动窗口的截图和任何特定区域的截图等等。</p>
    <p><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 支持多个监控环境、捕捉光标、自动保存和文件命名等功能。</p>   
    <p><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 支持浮动部件捕获栏,这样您就可以非常方便地截图了。</p>
    <p class="margin-bottom-20"><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 定制自己的键盘快捷方式。</p>
    <div class="row">    
      <div class="col-sm-3">
          <h3>全屏</h3>
      </div>
      <div class="col-sm-3">
          <h3>活动窗口</h3>
      </div>
      <div class="col-sm-3">
          <h3>窗口控制</h3>
      </div>
      <div class="col-sm-3">
          <h3>滚动窗口</h3>
      </div>
      <div class="col-sm-3">
          <h3>区域</h3>
      </div>
      <div class="col-sm-3">
          <h3>固定区域</h3>
      </div>
      <div class="col-sm-3">
          <h3>自由截图</h3>
      </div>
      <div class="col-sm-3">
          <h3>重复上一次的截图</h3>
      </div>
      <div class="col-sm-3">
          <h3>截图小部件</h3>
      </div>
      <div class="col-sm-3">
          <h3>使用光标截图</h3>
      </div>
      <div class="col-sm-3">
          <h3>延迟捕获</h3>
      </div>
      <div class="col-sm-3">
          <h3>自动保存</h3>
      </div>
    </div>
  </div>  
</div>

<div class="container-fluid bg-white bg-border-bottom-dotted margin-md features">   
  <div class="container">
    <h2 class="margin-bottom-20"><img src="images/icon_editor.png"> 图片编辑器</h2>

    <p class="margin-bottom-20"><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 内置图片编辑器并且包括最新的Ribbon风格菜单,您可以注释和标记您的图片。.</p>
    <div class="row">    
      <div class="col-sm-3">
          <h3>绘画</h3>
      </div>
      <div class="col-sm-3">
          <h3>插入文本</h3>
      </div>
      <div class="col-sm-3">
          <h3>箭头、线条</h3>
      </div>
      <div class="col-sm-3">
          <h3>形状</h3>
      </div>
      <div class="col-sm-3">
          <h3>气球</h3>
      </div>
      <div class="col-sm-3">
          <h3>标记工具</h3>
      </div>
      <div class="col-sm-3">
          <h3>裁剪</h3>
      </div>
      <div class="col-sm-3">
          <h3>调整尺寸</h3>
      </div>
      <div class="col-sm-3">
          <h3>旋转</h3>
      </div>
      <div class="col-sm-3">
          <h3>反转</h3>
      </div>
      <div class="col-sm-3">
          <h3>灰度</h3>
      </div>
      <div class="col-sm-3">
          <h3>马赛克</h3>
      </div>
      <div class="col-sm-3">
          <h3>框架</h3>
      </div>
      <div class="col-sm-3">
          <h3>水印</h3>
      </div>
      <div class="col-sm-3">
          <h3>模糊</h3>
      </div>
      <div class="col-sm-3">
          <h3>锐化</h3>
      </div>
      <div class="col-sm-3">
          <h3>亮度</h3>
      </div>
      <div class="col-sm-3">
          <h3>色相/饱和度</h3>
      </div>
      <div class="col-sm-3">
          <h3>色彩平衡</h3>
      </div>
   </div>
  </div>
</div>


<div class="container-fluid bg-white bg-border-bottom-dotted margin-md features">   
  <div class="container">
    <h2 class="margin-bottom-20"><img src="images/icon_share.png"> 保存、分享或发送</h2>

    <p class="margin-bottom-20"><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 一旦完成了获取和编辑你的照片之后,你可以保存,分享图片或将图片发送给其他人。</p>
    <div class="row">    
      <div class="col-sm-3">
          <h3>剪贴板</h3>
      </div>
      <div class="col-sm-3">
          <h3>图片文件</h3>
      </div>
      <div class="col-sm-3">
          <h3>PDF</h3>
      </div>
      <div class="col-sm-3">
          <h3>打印机</h3>
      </div>
      <div class="col-sm-3">
          <h3>网址</h3>
      </div>
      <div class="col-sm-3">
          <h3>Dropbox</h3>
      </div>
      <div class="col-sm-3">
          <h3>Google Drive</h3>
      </div>
      <div class="col-sm-3">
          <h3>SkyDrive</h3>
      </div>
      <div class="col-sm-3">
          <h3>Box</h3>
      </div>
      <div class="col-sm-3">
          <h3>Facebook</h3>
      </div>
      <div class="col-sm-3">
          <h3>Twitter</h3>
      </div>
      <div class="col-sm-3">
          <h3>Skype</h3>
      </div>
      <div class="col-sm-3">
          <h3>FTP服务器</h3>
      </div>
      <div class="col-sm-3">
          <h3>电子邮件</h3>
      </div>
      <div class="col-sm-3">
          <h3>微软Word</h3>
      </div>
      <div class="col-sm-3">
          <h3>微软PowerPoint</h3>
      </div>
      <div class="col-sm-3">
          <h3>微软Excel</h3>
      </div>
      <div class="col-sm-3">
          <h3>外部程序</h3>
      </div>
   </div>
  </div>
</div>


<div class="container-fluid bg-white bg-border-bottom-dotted margin-md features">   
  <div class="container">
    <h2 class="margin-bottom-20"><img src="images/icon_colorpicker.png"> 颜色选择器</h2>
    <p><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 使用内置的放大镜窗口来帮助你找到屏幕上准确的像素颜色代码。</p>
    <p class="margin-bottom-20"><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 支持RGB, HTML, C++和Delphi。</p>
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom-dotted margin-md features">   
  <div class="container">
    <h2 class="margin-bottom-20"><img src="images/icon_colorpalette.png"> 调色板</h2>
    <p class="margin-bottom-20"><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 使用支持RGB和HSV的photoshop的颜色选择器来探索和优化像素颜色代码。</p>
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom-dotted margin-md features">   
  <div class="container">
    <h2 class="margin-bottom-20"><img src="images/icon_ruler.png"> 像素标尺</h2>
    <p><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 帮助你测量对象的大小并将对象精确地放置在屏幕上。</p>
    <p class="margin-bottom-20"><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 支持水平和垂直方向、单位（像素,英寸和厘米）、DPI设置(72, 96, 120, 300)和皮肤。.</p>
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom-dotted margin-md features">   
  <div class="container">
    <h2 class="margin-bottom-20"><img src="images/icon_magnifier.png"> 放大镜</h2>
    <p class="margin-bottom-20"><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 您可以使用便捷的放大镜工具来查看桌面上任何区域。</p>
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom-dotted margin-md features">   
  <div class="container">
    <h2 class="margin-bottom-20"><img src="images/icon_crosshair.png"> 瞄准器</h2>
    <p><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 这个功能能够确定图片的相对坐标位置。</p>
    <p class="margin-bottom-20"><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 这在某些场合是非常实用,例如开发HTML图片映射。</p>
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom-dotted margin-md features">   
  <div class="container">
    <h2 class="margin-bottom-20"><img src="images/icon_protractor.png"> 量角器</h2>
    <p><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 它能够帮助您测量屏幕上的任意角度。选择一个中心和一个位置,然后测量这个位置距离中心的角度。</p>
    <p class="margin-bottom-20"><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 这个功能可以应用于各种摄影、数学和图形应用中。</p>
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom margin-md features">   
  <div class="container">
    <h2 class="margin-bottom-20"><img src="images/icon_whiteboard.png"> 白板</h2>
    <p><span class="glyphicon glyphicon-ok color-ng margin-right-5"></span> 你可以在桌面上设置虚拟白板。你可以用它来展示事物或者在桌面上绘画。</p>
  </div>
</div>

<div class="container-fluid bg-lightgray bg-border-bottom margin-md">   
  <div class="container">
    <h1 class="section-title">媒体评论</h1>
    <div class="panel panel-default margin-sm">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 text-center">
            <img src="images/review_cnet.png">
          </div>              
          <div class="col-sm-9 review">
            <p>这个项目让我们想到了瑞士军刀或者一个宽敞整洁的抽屉。这里面有着各种各样的实用工具,PicPick非常适合网页设计师、平面设计师以及普通计算机用户使用。</p>
            <h3><a href="http://download.cnet.com/PicPick/3000-2192_4-75072925.html?tag=mncol;1" target="_blank">CNET Download.com</a></h3>
          </div>
        </div>            
      </div>
    </div>

    <div class="panel panel-default margin-sm">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 text-center">
            <img src="images/review_softpedia.png">
          </div>              
          <div class="col-sm-9 review">
            <p>专门为家庭用户所设计,旨在让用户更灵活和完美地完成工作。它甚至包括一些Photoshop中没有的功能。PicPick除了提供了一个非常易于使用的图片编辑器之外，它还提供了动态图片捕获选项以及快捷键,而其它的一些类似编辑器却不具备这些功能。</p>
            <h3><a href="http://www.softpedia.com/reviews/windows/PicPick-49842.shtml" target="_blank">Softpedia</a></h3>
          </div>
        </div>            
      </div>
    </div>

    <div class="panel panel-default margin-sm hide">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 text-center">
            <img src="images/">
          </div>              
          <div class="col-sm-9 review">
            <p></p>
            <h3><a href="" target="_blank"></a></h3>
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom margin-sm">   
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
          <h2 class="margin-top-10">个人免费使用,现在就开始试用吧。</h2>
      </div>        
      <div class="col-sm-5">
        <div class="pull-right">
        <a class="btn btn-primary sharp margin-right-10" href="/picpick/download?lang=zh-cn">下载</a>
        <a class="btn btn-warning sharp" href="/picpick/buy?lang=zh-cn">现在购买</a>
        </div>
      </div>
    </div>
  </div>
</div>
