	<!--div class="container-fluid bg-gray bg-border-bottom margin-xs hidden-xs ">
      <div class="container">
        <ul class="nav nav-pills">
          <li class="active" id="main"><a href="#/">概述</a></li>
          <li class="" id="features"><a href="#/features">特色</a></li>
          <li class="" id="download"><a href="#/download">下载</a></li>
          <li class="" id="buy"><a href="#/buy">现在购买</a></li>
        </ul>
      </div>
    </div-->  
	
<div class="container-fluid bg-lightgray bg-border-bottom-dotted hero-unit margin-lg">   
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1><img class="icon" src="images/icon_picpick_64.png"> QATiger</h1>
        <h2>创新的软件测试伴侣，全程无损录制所有测试过程，快速录入及重现Bug</h2>
          <h4>
		<p>QATiger把完美的录屏技术应用于软件测试领域。 记录整个测试过程，可随时快速选择导出用于测试人员录入Bug,开发人员重现Bug。</p> <br>

		
        <p class="margin-bottom-20">QATiger支持Microsoft Windows XP至 Windows 10的所有Windows版本，支持辅助各类桌面程序及移动平台程序(包含 iOS及Android应用)的测试 。</p>
		</h4>
        <a class="btn btn-primary sharp margin-right-10" href="#download"><i class="fa fa-download"></i> 下载</a>
        <a class="btn btn-warning sharp" href="#buy">现在购买</a>
		<br> 
        <p class="available"><i class="fa fa-windows color-win margin-right-5"></i> <span class="available"> 配合iOSTiger和AndroidTiger可以支持移动平台的测试。</span></p>
		<p class="available"><i class="fa fa-windows color-win margin-right-5"></i> <span class="available"> Mac和Linux版本正在开发中，敬请期待。</span></p>
		
      </div>
	  <!--
      <div class="col-sm-6 text-center hidden-xs">
         <a href="images/screenshot_0.png" data-lightbox="picpick-main"><img src="images/screenshot_0m.png"></a>
      </div>
	  -->
    </div>    
  </div>
</div>

<div class="container-fluid bg-white bg-border-bottom margin-md">   
  <div class="container">
    <h1 class="section-title">特色</h1>
    <div class="row">
      <div class="col-md-6 feature-list">
        <h3><img src="images/aa-icon-record.png">全程录制测试过程</h3>
        <p>录屏半小时？一小时？QATiger为您考虑更多！<br>
		QATiger可以真正做到全程录屏。轻松支持长达<b>8小时</b>以上的连续录制状态。 </p>
      </div>
      <div class="col-md-6 feature-list">
        <h3><img src="images/BUG.png">以测试为中心</h3>  
        <p>QATiger的设计以辅助软件测试过程为中心。 V1.0版本中包含对TestCase及录入Bug的支持。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 feature-list">
        <h3><img src="images/icon_camera.png">随时加入快照</h3>  
        <p>在全程录屏的同时，随时可以在录屏中加入测试步骤或者各类描述(统称为快照)。<br>
		快照可以帮助测试人员及开发人员理解整个测试过程，并且快速在长时间录屏中定位关键内容。 
		</p>
      </div>
      <div class="col-md-6 feature-list">
        <h3><img src="images/good.png">无损录屏及回放</h3>
        <p>普通？高清？4k？QATiger为您考虑更多！<br>
			QATiger可以真正做到无损录屏。<b>100%</b>还原屏幕显示内容。 </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 feature-list">
        <h3><img src="images/folder_zip.png">高度压缩</h3>
        <p>无损录制会不会导致录屏结果文件太大? QATiger采用特有的高度压缩技术，针对屏幕内容的特点。生成小文件。真实案例：<b>10分钟</b>的无损录屏，只需要<b>2M</b>文件就搞定！</p>
      </div>
      <div class="col-md-6 feature-list">
        <h3><img src="images/icon_setting.png">自定义设置</h3>
        <p>软件带有设置,您可以自定义录屏速度，默认文件目录等内容。</p>
      </div>
	  <!--
      <div class="col-md-12 text-center">
        <p class="margin-top-30"><a class="btn btn-default outline" href="#features" role="button">查看详细信息 »</a></p>
      </div>
		-->

	  </div>
  </div>
</div>
 
<div class="container-fluid bg-white bg-border-bottom margin-sm">   
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
          <h2 class="margin-top-10">试用版包含所有功能,现在就开始试用吧！</h2>
      </div>        
      <div class="col-sm-5">
        <div class="pull-right">
        <a class="btn btn-primary sharp margin-right-10" href="#download">下载</a>
        <a class="btn btn-warning sharp buyLink" href="#buy">现在购买</a>
        </div>
      </div>
    </div>
  </div>
</div>