<div class="container-fluid bg-lightgray bg-border-bottom margin-lg">   
      <div class="container">

        <h1 class="section-title text-center">Affiliate Program</h1>

        <h3 class="text-center margin-bottom-20">Promote PicPick on your website and get paid for it! <span class="color-ng">Get 30% commission</span> on every sale you refer!</h3>
        <p class="text-center">
        To start selling, all you need to do is display product information and &ldquo;Buy Now&rdquo; links on your website.
        </p>

      </div>
    </div>

    <div class="container-fluid bg-white bg-border-bottom margin-lg">   
      <div class="container">

        <p><strong>It's as easy as 1, 2, 3... </strong></p>
        <p>Avangate takes care of the ordering process, product delivery and customer support.</p>
        <p>
            <i class="fa fa-check"></i> No need to store any software on your servers, or keep track of licenses <br>
            <i class="fa fa-check"></i> No hassles related to invoicing or payments from customers. <br>
            <i class="fa fa-check"></i> No setup fee, no start up cost, no hidden performance targets to reach!
        </p>
        <p class="margin-bottom-20">You will also benefit from comprehensive affiliate reports that will show you exactly how you perform.</p>


        <p><strong>Monthly payments</strong></p>
        <p class="margin-bottom-20">
            You will get your commissions every month, either transferred to your Avangate Prepaid Debit MasterCard or sent via wire transfer, check or PayPal.
        </p>
        
        <p><strong>Guaranteed Affiliate Commission</strong></p>
        <p class="margin-bottom-20">
            When a visitor follows a link or banner from your site, Avangate keeps track of your Affiliate ID for 120 calendar days. That's 4 months during which any order placed by the same user guarantees your affiliate commission.
        </p>

        <p><strong>Start selling now!</strong></p>
        <p class="margin-bottom-50">
        <em>Use every available channel of promotion you have - website, newsletter, etc!</em>
        <br>Remember - the more referral links you create, the more chances you have to make money from your web site!
        </p>



        <p class="text-center">
          <a class="btn btn-primary sharp" href="https://www.avangate.com/affiliates/sign-up.php?merchant=NGWIN&template=Default+Template&lang=en" target="_blank">Sign up for an account here</a>
        </p>